@page
@using PlanIt.Common
@model InitialRegisterCompanyOwnerModel
@{
    ViewData["Title"] = "Register yourself as company owner";
}

@section Styles{
    <partial name="_IdentityStylesPartial" />
}

@section CustomStyles{
    <style>
        .register-box {
            width: 720px;
        }

        .w-5 {
            width: 5%;
        }
    </style>
}

<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo animated fadeInDown">
            <img class="w-5" src="~/images/planit_logo.png" alt="" />
            <b>@GlobalConstants.SystemName</b>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="animated fadeInUp login-box-msg"> This is the first registration</p>
                <p class="animated fadeInUp login-box-msg"> Register a new company owner</p>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.Email" class="form-control" asp-placeholder-for="Input.Email" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.Password" class="form-control" asp-placeholder-for="Input.Password" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" asp-placeholder-for="Input.ConfirmPassword" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.FirstName" class="form-control" asp-placeholder-for="Input.FirstName" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.MiddleName" class="form-control" asp-placeholder-for="Input.MiddleName" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.LastName" class="form-control" asp-placeholder-for="Input.LastName" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.Company" class="form-control" asp-placeholder-for="Input.Company" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user-tie"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Company" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.PhoneNumber" class="form-control" asp-placeholder-for="Input.PhoneNumber" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div>
                    </div>
                </form>
                <a class="text-center">@GlobalConstants.SystemName - <vc:company-name></vc:company-name> Ltd.</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
