@page
@using PlanIt.Common
@model PlanIt.Web.Areas.Identity.Pages.Account.InviteModel
@{
    ViewData["Title"] = "Invite";
}

@section Styles {
    <partial name="_IdentityStylesPartial" />
}

@section CustomStyles {
    <style>
        .w-10 {
            width: 10%;
        }
    </style>
}

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo animated fadeInDown">
            <img class="w-10" src="~/images/planit_logo.png" alt="" />
            <b>@GlobalConstants.SystemName</b>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg animated fadeInUp">WELCOME to <strong><vc:company-name></vc:company-name> Ltd.</strong></p>
                <p class="login-box-msg animated fadeInUp">Ask for invitation</p>

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input asp-for="Input.Email" class="form-control" asp-placeholder-for="Input.Email" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <textarea asp-for="Input.Purpose" class="form-control" placeholder="Write your purpose for invitation"></textarea>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-text-height"> </span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Purpose" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Invite me</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <strong>This site is invite only.</strong>
                </p>
                <p class="mb-1">
                    We will send you an email about your invitation. Your invitation request will expire in 24hours.
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

