@model PlanIt.Web.ViewModels.Administration.Invites.InviteSelectViewModel

@{
    this.ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h3 class="display-5 p-4 badge-secondary">Delete invite by email</h3>
    <div class="container p-4">
        <div class="row justify-content-md-center p-4">
            <div class="col-md-auto">
                <i class="fas fa-mail-bulk fa-2x"></i>
            </div>
            <div class="col col-md-6">
                <select asp-for="InviteId" asp-items="Model.Invites" class="custom-select mr-sm-2">
                    <option value="0" selected disabled="disabled">Choose email...</option>
                </select>
            </div>
            <div class="col-md-auto">
                <button onclick="checkValue()" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- ModalDelete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="warningText" class="modal-body">
                Are you sure want to delete invite request with email: ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="deleteForm" method="post">
                    <div class="col-auto">
                        <button type="submit" onclick="addRouteValue()" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ModalDelete -->


@section Scripts {
    <script>
        function checkValue() {
            let select = document.getElementById("InviteId");
            let selectedOptionValue = select.options[select.selectedIndex].value;
            let selectedOptionText = select.options[select.selectedIndex].text;
            let warningText = document.getElementById("warningText");

            if (selectedOptionValue == 0) {
                alert("Take another value!!!");
                event.stopPropagation();
            }

            warningText.innerText = `Are you sure want to delete invite request with email: ${selectedOptionText}`;
        }

        function addRouteValue() {
            let form = document.getElementById("deleteForm");
            let inputValue = document.getElementById("InviteId");
            let value = inputValue.value;

            form.setAttribute("action", "/Administration/Invites/Delete/" + String(value));
            form.submit();
        }
    </script>
}
