@using PlanIt.Common

<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <vc:company-name></vc:company-name> Ltd.
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year - @GlobalConstants.SystemName</strong> All rights reserved.
</footer>