<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user-lock"></i>
        <p>
            Invites
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Invites" asp-action="Index" class="nav-link">
                <i class="fas fa-lock-open nav-icon"></i>
                <p>All Invites</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Invites" asp-action="Create" class="nav-link">
                <i class="fas fa-lock-open nav-icon"></i>
                <p>Invite user</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Invites" asp-action="Extend" class="nav-link">
                <i class="fas fa-lock-open nav-icon"></i>
                <p>Extend</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Invites" asp-action="Delete" class="nav-link">
                <i class="fas fa-lock-open nav-icon"></i>
                <p>Delete</p>
            </a>
        </li>
    </ul>    
</li>