

@{ 
    var controllerName = $"{ ViewContext.RouteData.Values["controller"]}";
    var actionName = $"{ ViewContext.RouteData.Values["action"]}";

}




<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionName</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@controllerName</a></li>
                    <li class="breadcrumb-item active">@actionName</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>