@using PlanIt.Common
@using PlanIt.Web.Extensions
@using PlanIt.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<PlanItUser> UserManager

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link" title="Home">
        <img src="~/images/planit_logo.png" alt="PlanIt Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">@GlobalConstants.SystemName - </span>
        <span class="brand-text font-weight-light"><vc:company-name></vc:company-name> Ltd.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="far fa-id-badge fa-3x img-circle" style="background-color: lightgray;"></i>
            </div>
            <div class="info text-center">
                <div class="text-capitalize">
                    <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span class="font-weight-bolder">@(this.User.GetFullName())</span>
                        <br />
                        <span class="font-weight-bolder">@(this.User.GetJobTitle())</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="" class="nav-link active">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            Invites
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Administration" asp-controller="Invites" asp-action="Index" class="nav-link active">
                                <i class="fas fa-lock-open nav-icon"></i>
                                <p>All Invites</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-lock-open nav-icon"></i>
                                <p>Inactive Page</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

@using (Html.PartialSectionScripts())
{
    <script type="text/javascript" asp-append-version="true">
        var navLinks = document.getElementsByClassName("nav-link")

        Array.prototype.forEach.call(navLinks, function (nav) {
            nav.addEventListener('click', function (event) {
                nav.classList.toggle("active")
            })
        })


    </script>
}