@{
    string path = $"{ViewContext.HttpContext.Request.Path}";
    List<string> tokens = path.Split("/", StringSplitOptions.RemoveEmptyEntries).ToList();

    if (tokens.Count == 0)
    {
        tokens.Add("Home");
        tokens.Add("Index");
    }

    string title = $"{ViewContext.ViewData["Title"]}";

    string link = "/" + string.Join("/", tokens.SkipLast(1));

    if (link.Contains("Identity") || link.Contains("Account"))
    {
        link = "/";
    }
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@title</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @for (int i = 0; i < tokens.Count - 1; i++)
                    {
                        // TODO correct the link
                        <li class="breadcrumb-item">
                            <a href="/">@tokens[i]</a>
                        </li>
                    }
                    <li class="breadcrumb-item active">@tokens[tokens.Count - 1]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>