@using PlanIt.Common
@using PlanIt.Web.Extensions
@using PlanIt.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<PlanItUser> UserManager

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link" title="Home">
        <img src="~/images/planit_logo.png" alt="PlanIt Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">@GlobalConstants.SystemName - </span>
        <span class="brand-text font-weight-light"><vc:company-name></vc:company-name> Ltd.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="far fa-id-badge fa-3x img-circle" style="background-color: lightgray;"></i>
            </div>
            <div class="info text-center">
                <div class="text-capitalize">
                    <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span class="font-weight-bolder">@(this.User.GetFullName())</span>
                        <br />
                        <span class="font-weight-bolder">@(this.User.GetJobTitle())</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    @if (this.User.IsInRole(GlobalConstants.CompanyOwnerRoleName) ||
               this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    }
                    else if (this.User.IsInRole(GlobalConstants.ProjectManagerRoleName))
                    {
                        <a asp-area="Management" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    }
                    else if (this.User.IsInRole(GlobalConstants.ClientRoleName))
                    {
                        <a asp-area="Client" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    }
                    else
                    {
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    }
                </li>
                @if (this.User.IsInRole(GlobalConstants.CompanyOwnerRoleName) ||
             this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <partial name="_InvitesMainSideBarPartial" />
                    <partial name="_UsersMainSideBarPartial" />
                }

                @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li class="nav-item">
                        <a asp-area="Management"
                           asp-controller="Clients"
                           asp-action="Index"
                           class="nav-link">
                            <i class="nav-icon fas fa-user-circle"></i>
                            <p>
                                Clients
                            </p>
                        </a>
                    </li>
                    <partial name="_ProjectsMainSideBarPartial" />
                }

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
