@using PlanIt.Web.ViewModels.Management.Projects
@using PlanIt.Data.Models
@using PlanIt.Common
@using PlanIt.Services.Data
@using Microsoft.AspNetCore.Identity

@inject UserManager<PlanItUser> userManager
@inject IProjectsService projectsService

@{
    var currentUserId = this.userManager.GetUserId(this.User);

    var projects = await this.projectsService.GetAllByManagerIdAsync<ProjectViewModel>(currentUserId);

    var hasAssignedProjects = false;

    if (projects.Count() > 0)
    {
        hasAssignedProjects = true;
    }
}

@if (hasAssignedProjects || this.User.IsInRole(GlobalConstants.ProjectManagerRoleName))
{
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-align-justify"></i>
            <p>
                Project parts
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-area="" asp-controller="SubProjects" asp-action="Create" class="nav-link">
                    <i class="fas fa-indent nav-icon"></i>
                    <p>Create</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-money-check"></i>
            <p>
                Additional costs
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-area="" asp-controller="AddCosts" asp-action="AddToProject" class="nav-link">
                    <i class="fas fa-coins nav-icon"></i>
                    <p>Add cost to project</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="AddCosts" asp-action="AddToSubProject" class="nav-link">
                    <i class="fas fa-coins nav-icon"></i>
                    <p>Add cost to project part</p>
                </a>
            </li>
        </ul>
    </li>
}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tasks"></i>
        <p>
            Tasks
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        @if (hasAssignedProjects || this.User.IsInRole(GlobalConstants.ProjectManagerRoleName))
        {
            <li class="nav-item">
                <a asp-area="" asp-controller="Tasks" asp-action="Index" class="nav-link">
                    <i class="fas fa-indent nav-icon"></i>
                    <p>All Tasks</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Tasks" asp-action="Assign" class="nav-link">
                    <i class="fas fa-indent nav-icon"></i>
                    <p>Assign Task</p>
                </a>
            </li>            
        }
        <li class="nav-item">
            <a asp-area="" asp-controller="Tasks" asp-action="MyTasks" class="nav-link">
                <i class="fas fa-clone nav-icon"></i>
                <p>My Tasks</p>
            </a>
        </li>
    </ul>
</li>