<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>
            Users
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-check"></i>
                <p>
                    Active Users
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Administration" asp-controller="Users" asp-action="All" class="nav-link">
                        <i class="fas fa-user nav-icon"></i>
                        <p>View all users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administration" asp-controller="Users" asp-action="AddToRole" class="nav-link">
                        <i class="fas fa-user-edit nav-icon"></i>
                        <p>Add to role</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Users" asp-action="Deleted" class="nav-link">
                <i class="fas fa-user-minus nav-icon"></i>
                <p>Deleted Users</p>
            </a>
        </li>        
    </ul>    
</li>